<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>


	<div class="container">
		<h3 class="text-center">
			<strong>THÊM TIN TỨC MỚI</strong>
		</h3>
		<br></br>
		<form action="#" th:action="@{/news/save}" th:object="${news}"
			method="POST" novalidate="novalidate">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label>Title</label> <input type="text" class="form-control"
					th:field="*{title}" />
			</div>
			<div class="form-group">
				<label>Content</label> <input type="text" class="form-control"
					th:field="*{content}"/>
			</div>
			<div class="form-group">
				<label>Creater</label> <input type="text" class="form-control"
					th:field="*{creater}" />
			</div>
			<div class="form-group">
				<label>Date Create</label> <input type="text" class="form-control"
					th:field="*{date_created}" />
			</div>
			<div class="col-md-12 text-center">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>
	<br></br>
	<br></br>

</body>
</html>