<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>ICSSEE 2017</title>

<!-- Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
<!-- Custom style -->
<link href="../static/css/styles.css" th:href="@{/css/styles.css}"
	rel="stylesheet" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
	th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
	<script src="ckeditor/ckeditor.js"></script>
	<script src="ckfinder/ckfinder.js"></script>
	<div class="container">
		<h3 class="text-center">
			<strong>THÊM TIN TỨC MỚI</strong>
		</h3>
		<br></br>
		<form action="#" th:action="@{/news/save}" th:object="${news}"
			method="POST" novalidate="novalidate">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label>Title</label> <input type="text" class="form-control"
					th:field="*{title}" />
			</div>
			<div class="form-group">
				<label>Content</label> <input id="editor" type="text"
					class="form-control" th:field="*{content}" />

			</div>
			<div class="form-group">
				<label>Creater</label> <input type="text"
					class="form-control" th:field="*{creater}" />
			</div>
			<div class="form-group">
				<label>Date Create</label> <input type="text" class="form-control"
					th:field="*{date_created}" />
			</div>
			<div class="col-md-12 text-center">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>
	<br></br>
	<br></br>
	<script>
		CKEDITOR.replace('editor');
	</script> 
</body>
</html>